# IDE
.trae
.ruff_cache/
.opencode/
.vscode/


# Python
__pycache__/
**/__pycache__/
.venv/
env/
.pycache
*.py[cod]  
*.pyo
*.pyd


# JavaScript
node_modules
package.json
bun.lock


.gitignore
.idea/ 